/*App*/
.rootdiv,
#chatdivdark div , #chatdivlight div{
    position: absolute;
    overflow: hidden;
    background: inherit;
}

select {
    box-sizing: content-box;
    border: 0;
    border-radius: 5px;
    padding: 2px 5px;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    background: #DDDDDD;
    color: black;
}

body {
    margin: 0;
    min-width: 340px;
    background: #282832;
    font-family: arial, sans-serif;
    letter-spacing: 0.05em;
    color: #CCC;
}

.icons {
    filter: invert(1)
}

img,
input,
select {
    vertical-align: middle;
}

input,
select {
    box-sizing: content-box;
    border: 0;
    border-radius: 5px;
    padding: 2px 5px;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    background: #DDDDDD;
    color: black;
}
.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    color: #CCC;
    margin-left: 5px;
    font-style: italic;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*Chat*/
#chatdivdark {
    background: black;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 340px;
}
#chatdivlight {
    background: white;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 340px;
}

#chatnav {
    left: 50px;
    right: 50px;
    text-align: center;
    font-size: 0.75em;
    z-index: 1;
}

#chatwin {
    width: 100%;
    top: 0px;
    bottom: 0px;
}

.chatEmbed {
    width: 100%;
    bottom: 0px;
    top: 0px
}

#chatsel {
    padding: 3px;
    width: 55%;
}

#chatvis {
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

#icondiv {
    width: 50px;
    height: 50px;
    z-index: 1;
}

/*Menu*/
#menudivdark {
    min-width: 50px;
    min-height: 50px;
    right: 0px;
    background: black;
}
#menudivlight {
    min-width: 50px;
    min-height: 50px;
    right: 0px;
    background: white;
}

#menutitle {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#menuContent {
    font-size: 0.8em;
    line-height: 1.5em;
    overflow: auto;
    background: rgb(51, 51, 102);
    max-height: 567px;
    margin-top: 50px;
}

.menublock {
    padding: 0 20px 10px 20px;
    overflow: hidden;
}

.menurow {
    padding: 7px 0;
    position: relative;
}

#menuchatsel {
    width: 115px;
}

.newInput {
    width: 115px;
    height: 15.34px;
    margin: 0;
}

#options {
    position: absolute;
    right: 0px;
}

#expand {
    margin-top: 50px;
    border-top: 1px solid gray;
}

.menuIcons {
    margin-left: 15px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
#settings {
    float: left;
    width: 23%;
    padding: 5px 0;
    margin: 0 2px;
    border-radius: 20px;
    background: #0070BA;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #CCC;
    border: none;
}
/*Player*/
#playdivdark {
    background: rgb(50, 50, 60);
    height: 100%;
    left: 0px;
    right: 340px;
}
#playdivlight {
    background: rgb(205, 205, 195);
    height: 100%;
    left: 0px;
    right: 340px;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.half {
    height: 50%;
}
.quarter {
    height: 50%;
    width: 50%;
    display: inline-block
}

.single {
    height: 100%;
    width: 100%
}

#focused {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    display: block
}

.carousel-control-prev, .carousel-control-next {
    top: 45%;
    bottom: 45%;
}
